<div class="collapse navbar-collapse text-bg-dark" id="navbarNavDropdown">
  <ul class="navbar-nav text-bg-dark">

    <li class="nav-item">
      <%= link_to 'Home', user_home_path, class: 'nav-link active text-bg-dark', 'aria-current': 'page' %>
    </li>

    <%= render "layouts/shared/admin_nav_links" %>
    <%= render "layouts/shared/non_admin_nav_links" %>
    <%= render "layouts/shared/owners_nav_links" %>
    <% if admin_signed_in? %>
      <li class="nav-item">
        <%= link_to 'import products', admin_import_products_path(current_user), class: "nav-link text-bg-dark" %>
      </li>
    <% end %>
    <%= render "layouts/shared/viewers_nav_links" %>

    <li class="nav-item">
    </li>
  </ul>
</div>