<div class="container-lg d-flex flex-row align-items-stretch">
  <% if @product %>
    <div class="d-flex flex-column justify-content-center align-items-center gap-4">
      <% if @product.image? %>
        <%= link_to image_tag(@product.image_as_thumbnail(400, 400)), @product.image %>
      <% end %>
      <div>
        <% unless customer_signed_in? or !user_signed_in? %>
          <%= link_to 'Edit product', edit_product_path(@product), class: 'btn btn-secondary' %>
          <span><%= link_to 'Delete', product_path(@product), data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' %>
    </span>
        <% end %></div>
    </div>
    <div class="d-flex flex-column justify-content-start">
      <div class="col-md-6 border-bottom">
        <h1><%= @product.name %></h1>
      </div>
      <div class="col-md-6 border-bottom mt-3">
        <h4>Store: <%= @product.store.name %></h4>
      </div>
      <div class="col-md-6 mt-1">
        <h5>Unite price: <span><%= @product.price %>$</span></h5>
        <h5>Items in stock:
          <span><%= @product.stock_quantity %> <%= "items".pluralize(@product.stock_quantity) %></span></h5>  <br/>
      </div>
    </div>
  <% end %>
</div>